.idea
.vscode
.eslintcache

# lib
node_modules

# build
packages/*/lib
tsconfig.tsbuildinfo

# Mac OS
.DS_Store

# indexer_data
apps/server/env/ckb-testnet/data
apps/server/env/opt

# env
apps/server/.env